<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<div>
		<h2 style="color: rgb(0, 0, 0)">Actualizar interés</h2>
			<form th:action="@{/iinteres/update}" method="post" th:object="${in}">
				<div class="col-sm-12">
					<label class="form-label" style="color: rgb(0, 0, 0)">Id:</label>
					<input type="text" th:field="*{idInteres}" class="form-control"></input>
				</div>
				<div class="col-sm-12">
					<label class="form-label" style="color: rgb(0, 0, 0)">Estudiante:</label>
					<select name="updateStudent" class="form-control" th:field="*{student.idStudent}">
					<option th:each="s:${listaEstudiantes}" th:value="${s.idStudent}" th:text="${s.nombreStudent}" th:selected="(${s.idStudent}==*{student.idStudent})"></option>
					</select>
				</div>
				<div class="col-sm-12">
					<label for="medida" class="col-sm-2 col-form-label" >Nivel de inter&eacutes
					</label> <select name="select" th:field="*{medidaInteres}" class="form-control">
						<option value="Baja" selected>Baja</option>
						<option value="Media">Media</option>
						<option value="Alta">Alta</option>
					</select>
				</div>
				<div class="col-sm-12">
			<label class="form-label" style="color:rgb(0, 0, 0)">Aviso:</label> <select
				name="selectAviso" class="form-control" th:field="*{aviso.idAviso}">
				<option th:each="a:${listaAviso}" th:value="${a.idAviso}"
					th:text="${a.room.descpRoom}"
					th:selected="(${a.idAviso}==*{aviso.idAviso})"></option>
			</select>
		</div>

				<br>
				<div class="col-sm-12">
					<input type="submit" value="Actualizar" class="btn btn-dark"></input>
				</div>
			</form>
		</div>
	</div>

</body>
</html>