<!DOCTYPE html>
<html xmlns:th="http://www.thymeleag.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="master/master :: header"></header>
	<div class="container">
		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
						<tr>
							<th>Nombre del Arrendador</th>
							<th>Numero de Habitaciones</th>
							<th>Monto</th>
							
						</tr>
					</thead>
					<tbody >
						<tr th:each="ma:${listaMontoArrendador}">
							<td th:text="${ma[0]}"></td>
							<td th:text="${ma[1]}"></td>
							<td th:text="${ma[2]}"></td>

						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>